<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counsel.NLP</title>
</head>
<body>
    <div class="LOG">
        <table>
            {% for q in queue %}
            <tr>
                <td>User: {{q}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>


    <div class="form">
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="text" name="User-Text" id="User-Text">
            <input type="file" name="FILE" id="FILE">
            <input type="submit" value="ENTER">
        </form>
    </div>
</body>
</html>